/* RESET BASICO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 30px;
}

/* STYLE DO HEADER*/
header{
    background-color: #ffff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 16px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    gap: 20pc;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
}

.card{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-corpo {
    padding: 12px;
}

.card-corpo h3{
    font-size: 16px;
    margin-bottom: 6px;
}

.card-corpo p{
    font-size:13px;
    color: #555;
    margin-bottom: 12px;
}